.liked-overview-box {
    background-color: var(--light-blue);
    margin-top: 20px;
    border-radius: var(--rounded-md);
}

.liked-overview-box-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-green);
    padding: 10px 20px;
}

.liked-overview-box-details p:first-of-type {
    font-weight: 700;
    font-size: 18px;
}
.liked-overview-box-details p:last-of-type {
    color: var(--gray-light);
}
.liked-overview-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.liked-overview-btn-wrapper a {
    color: white;
    background-color: var(--purple);
    border-radius: var(--rounded-xs);
    padding: 10px 30px;
    font-size: 16px;
}
.liked-overview-btn-wrapper a i {
    color: white;
    margin-left: 5px;
}

#liked-overview h2 {
    margin-top: 20px;
}
